[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
[submodule "3rdparty/dyncall"]
	path = 3rdparty/dyncall
	url = https://github.com/MoarVM/dyncall.git
[submodule "3rdparty/dynasm"]
	path = 3rdparty/dynasm
	url = https://github.com/MoarVM/dynasm.git
[submodule "3rdparty/libtommath"]
	path = 3rdparty/libtommath
	url = https://github.com/MoarVM/libtommath
[submodule "3rdparty/libatomic_ops"]
	path = 3rdparty/libatomic_ops
	url = https://github.com/MoarVM/libatomic_ops
[submodule "3rdparty/cmp"]
	path = 3rdparty/cmp
	url = https://github.com/MoarVM/cmp.git
[submodule "3rdparty/highwayhash"]
	path = 3rdparty/highwayhash
	url = https://github.com/google/highwayhash.git
[submodule "3rdparty/siphash-c"]
	path = 3rdparty/siphash-c
	url = https://github.com/emboss/siphash-c.git
[submodule "3rdparty/csiphash"]
	path = 3rdparty/csiphash
	url = https://github.com:samcv/csiphash.git
